$bg-dark:    #2d3035;
$bg:         #32353f;
$bg-light:   #3e4251;
$fg:         #ebdbb2;
$fg-alt:     #d5c4a1;

$red:        #ea6962;
$hover-red:  #82332f;
$green:      #a9b665;
$yellow:     #d8a657;
$blue:       #7daea3;
$purple:     #d3869b;
$aqua:       #89b482;
$orange:     #e78a4e;
$gray:       #928374;

$accent:     $blue;
$outline:    $gray;
.main {
    background-color: rgba(0,0,0,0)
}
.splash1 {
    border-bottom: 0.1rem solid;
}
.profile-pic {  
    box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-image: url('./Profile.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  min-height: 90px;
  min-width: 90px;
  padding: 3rem;
  margin: 1rem;
  border-radius: 100%;
}
.profclass {
    background-color: rgba(255,255,255,0);
}
.profclass1 {
    background-color: rgba(255,255,0,0);
}
.mainprofile {
    background-color: rgb(24, 26, 29);
    padding: 0.6rem;
    border-radius: 1rem;
    font-weight: bold;
}
.volbox {
    margin: 1.25rem 1.25rem 0 1.25rem;
    font-size: 1.25rem;
    color: #89b482;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
    padding: 0.625rem 0.1875rem;
    border-radius: 1.25rem;
}
.volume slider {
    border-radius: 1.25rem;
    all: unset;
    opacity: 1;
}
.volume trough {
    all: unset;
    min-height: 12.5rem;
    border-radius: 1.25rem;
    min-width: 1.2rem;
    background-color: #40543d;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}
.volume trough highlight {
    all: unset;
    border-radius: 1.25rem;
    background-color: #89b482;
}
.brightness slider {
    all: unset;
    opacity: 1;
}
.brightness trough {
    all: unset;
    min-height: 12.5rem;
    border-radius: 1.25rem;
    min-width: 1.2rem;
    background-color: #312d25;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}
.brightness trough highlight {
    all: unset;
    border-radius: 1.25rem;
    background-color: #d8a657;
}

.bar { 
    background-color: rgba(36, 39, 44, 0.8);
    border-radius: 1.7rem;
}


.bar-button { font-size: 1.5rem; }

.baricon {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: bold;
    background-color: rgb(21, 22, 24);
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}
.bariconmain {
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}
.playerctl1 {
    padding: 1rem;
    background-color: rgb(21, 22, 24);
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #7daea3;
    border-radius: 1rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}
