$bg-dark:    #2d3035;
$bg:         #32353f;
$bg-light:   #3e4251;
$fg:         #ebdbb2;
$fg-alt:     #d5c4a1;

$red:        #ea6962;
$hover-red:  #82332f;
$green:      #a9b665;
$yellow:     #d8a657;
$blue:       #7daea3;
$purple:     #d3869b;
$aqua:       #89b482;
$orange:     #e78a4e;
$gray:       #928374;

$accent:     $blue;
$outline:    $gray;
.main {
    background-color: rgba(0,0,0,0)
}
.powerbox {
    margin: 0rem 0.5rem;
}

.splash1 {
    border-bottom: 0.1rem solid;
}
.profile-pic {  
    box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-image: url('./Profile.jpg');
  background-size: 100%;
  background-repeat:no-repeat;
  min-height: 90px;
  min-width: 90px;
  padding: 3rem;
  margin: 1rem;
  border-radius: 100%;
}
.profclass {
    background-color: rgba(255,255,255,0);
}
.profclass1 {
   background-color: rgb(28, 29, 31);
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 0 2px 3px 2px rgba(6,6,11,0.3);
}
.mainprofile {
    background-color: rgb(16, 17, 19);
    padding: 0.6rem;
    border-radius: 1rem;
    font-weight: bold;
}

.bar { 
    background-color: rgba(21, 22, 24, 0.85);
    border-radius: 1.7rem;
}



.playerctl1 {
    padding: 1rem;
    background-color: rgba(21, 22, 24, 0.85);
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #7daea3;
    border-radius: 1rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}

.brightnessrev, .volrev, .workspace, .donuts, .baricon, .centre {
    background-color: rgba(21, 22, 24, 0.5);
    font-weight: bold;
}
// Workssssssspace buttttttton
.workspace {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0rem;
    font-family: "JetBrainsMono Nerd Font", monospace;
}
//Donuts
.donuts {
    border-radius: 2rem 2rem 0 0;
    padding-top: 1rem;
}
.bg {
    color: rgb(30, 30, 32);
}
.cpu {
    color: #ea6962;
    font-weight: bold;
}
.mem {
    color: #a9b665;
    font-weight: bold;
}
.dsk {
    color: #7daea3;
    font-weight: bold;
}
.cpuico, .memico {
   padding: 0.8rem;
}
// Volume 
.volume slider,.volume trough,.volume trough highlight {
    all: unset;
}
.volume slider {
    opacity: 1;
}
.volume trough {
    margin-top: 1rem;
    border-radius: 1.25rem;
    min-height: 12.5rem;
    min-width: 1.25rem;
    background-color: #40543d;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15, 15, 6, 0.2);
}
.volume trough highlight {
        border-radius: 1.25rem;
    background-color: #89b482;
}
// Brightness
.brightness slider,.brightness trough,.brightness trough highlight {
    all: unset;
}
.brightness slider {
    opacity: 1;
}
.brightness trough {
    border-radius: 1.25rem;
    min-height: 12.5rem;
    min-width: 1.25rem;
    background-color: rgba(49, 45, 37, 0.8);
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15, 15, 6, 0.2);
}
.brightness trough highlight {
        border-radius: 1.25rem;
    background-color: #d8a657;
}

// buttons lwk
button.pres,button.preb,button.psus,button.volbut,.brtbut, .file, .firefox, .appmenu, .kitty, .discord{
    padding: 1rem;
    font-size: 1.5rem;
    box-shadow: none;
    background: none;
}
button.discord {
    color: #6f60c5;
}
button.volbut{
    color: #89b482;
}
button.pres {
    color: #7daea3;
}
button.preb, button.file {
    color: #89b482;
}
button.psus, .brtbut, button.firefox  {
    color: #d8a657;
}
button.kitty {
    color: #ffffff;
}
button.poff{
    box-shadow: none;
    padding-bottom: 1rem;
    background: none;
    color: #ea6962;
    font-size: 1.5rem;
}
