$bg-dark:    #2d3035;
$bg:         #32353f;
$bg-light:   #3e4251;
$fg:         #ebdbb2;
$fg-alt:     #d5c4a1;

$red:        #ea6962;
$hover-red:  #82332f;
$green:      #a9b665;
$yellow:     #d8a657;
$blue:       #7daea3;
$purple:     #d3869b;
$aqua:       #89b482;
$orange:     #e78a4e;
$gray:       #928374;

$accent:     $blue;
$outline:    $gray;

.DonutContainer{
    padding: 0.625rem;
}
.cpu {
    padding: 0.3125rem;
    font-weight: bold;
    color: #ea6962;
    border-radius: 1.25rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.25);
}
.cpu1 { margin-left: -0.6875rem; }
.ram1 { margin-left: -0.9125rem; }
.disk1 { margin-left: -0.4375rem; }
.ram {
    padding: 0.3125rem;
    font-weight: bold;
    color: #a9b665;
    border-radius: 1.25rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.25);
}
.disk {
    padding: 0.3125rem;
    font-weight: bold;
    color: #d8a657;
    border-radius: 1.25rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.25);
}
.donut {
    background-color: #373a47;
}
.ram_bar { color: #a9b665; }
.disk_bar { color: #d8a657; }

.text {
    margin-top: 3.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.System-label {
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 1.75rem;
}
.user {
    margin: -1.25rem 0 0 -0.625rem;
    font-weight: bold;
    font-size: 1.5625rem;
    font-family: "JetBrainsMono Nerd Font", monospace;
    border-bottom: 0.1875rem solid #ebdbb2;
    opacity: 1;
    color: white;
}
.profile-pic {
    margin: 1.875rem 0 1.875rem 1.25rem;
    background-image: url('./Profile.jpg');
    background-size: 100%;
    min-height: 7.5rem;
    min-width: 7.5rem;
    background-repeat: no-repeat;
    border-radius: 60%;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,1);
}
.profile {
    opacity: 0.98;
    background-color: #2d3035;
    border-radius: 0.9375rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.5);
}
.uptime {
    margin: -0.625rem 0 1.25rem 0.625rem;
    font-weight: bold;
    color: #89b482;
}
.everything {
    background-color: rgba(33, 35, 38, 0.95);
    border-radius: 1.25rem;
    padding: 0.625rem;
}
.userstuff { margin: 1.25rem 0 0 1.25rem; }
.power {
    margin: -1.875rem -6.25rem 2.5rem 0;
    padding: 0.125rem 0.25rem;
    font-size: 1.5rem;
    background-color: #3e4251;
    border-radius: 1.875rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.8);
}
.monitor {
    font-family: "JetBrainsMono Nerd Font", monospace;
    background-color: #2d3035;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.5);
    border-radius: 0.9375rem;
}
.Net {
    border-radius: 1.25rem;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 1rem;
    font-weight: bold;
    color: #7daea3;
    margin: 0 3.125rem 0 3.125rem;
    padding: 0.375rem;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
    background-color: #24272c;
}
.volbox {
    margin: 1.25rem 1.25rem 0 1.25rem;
    font-size: 1.25rem;
    color: #89b482;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
    padding: 0.625rem 0.1875rem;
    border-radius: 1.25rem;
}
.volume slider {
    border-radius: 1.25rem;
    all: unset;
    opacity: 1;
}
.volume trough {
    all: unset;
    min-height: 12.5rem;
    border-radius: 1.25rem;
    min-width: 1.5625rem;
    background-color: #40543d;
    box-shadow: 0.0625rem 0.125rem 0.1875rem 0.125rem rgba(15,15,6,0.2);
}
.volume trough highlight {
    all: unset;
    border-radius: 1.25rem;
    background-color: #89b482;
}
.voltxt { margin-left: 0.1875rem; }
.main { background-color: rgba(0,0,0,0); }
.USERMENU {
    background-color: rgba(33, 35, 38, 0.95);
    padding: 0.9375rem;
    border-radius: 1.25rem;
}
.bar { 
    background-color: rgba(33, 35, 38, 0.95);
    border-radius: 1.875rem;
}
.flame {
    font-size: 1.5rem;
    color: #e78a4e;
}
.revealer1 {
    background-color: #ffffff;
    color: red;
}
.bar-button { font-size: 1.5rem; }
