@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px; /* 17px - 1px */
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 4px 6px; /* was 5px 7px */
  background-color: rgba(30, 30, 46, 0.9);
  border-radius: 7px;
}

#workspaces {
  background-color: @surface0;
  padding: 0.25rem 0.7rem; /* slightly reduced */
  margin: 4px 0;
  margin-left: 6px;
  border-radius: 7px 0px 0px 7px;
}

#workspaces button {
  all: unset;
  font-size: 16px;
  color: @lavender;
  background-color: transparent;
  margin: 0 2px;      
  padding: 4px 8px;   
  border-radius: 7px;
}

#workspaces button.active {
  color: @blue;
}




#workspaces button.active {
  color: @lavender;
  background: @surface0;
}

#cpu {
  background-color: @surface0;
  padding: 0.25rem 0.7rem;
  margin: 4px 0;
  border-radius: 0px 7px 7px 0px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio {
  background-color: @surface0;
  padding: 0.25rem 0.7rem;
  margin: 4px 0;
}

#clock { color: @blue; }
#battery { color: @green; }
#battery.charging { color: @green; }
#battery.warning:not(.charging) { color: @red; }
#backlight { color: @yellow; }

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 7px 0px 0px 7px;
  margin-left: 0.9rem;
}

#custom-wallpaper {
  color: @mauve;
  background: @surface0;
  margin: 4px 0;
  margin-right: 0.9rem;
  border-radius: 0 7px 7px 0;
}

#custom-music {
  color: @lavender;
  border-radius: 7px;
}


#custom-menu {
  color: @maroon;
  background-color: @surface0;
  border-radius: 7px;
  margin: 4px 0;
  margin-right: 5px;
  padding: 8px;
  
}

#tray {
  margin: 4px 8px;
  border-radius: 7px;
}
